/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

img {
    max-width: 100%;
    height: auto;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}


.padding_0 {
    padding: 0px;
}


.bg-light {
    background-color: rgb(64, 64, 64,0.2) !important;
}

.navbar {
    padding: .5rem 100px;
}

.logo {
    width: 10%;
    float: left;
    margin-right: 155px;
    position: relative;
    top: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px !important;
    padding-left: 30px !important;
    color: #fffcf4 !important;
    font-size: 18px !important;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #64a19d !important;
}

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    box-shadow: inset 0 0 0 1000px rgb(232, 83, 31,0.2);
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 66px;
    color: papayawhip;
    font-weight: 600;
    padding-top: 100px;
}
